#id1{
    border: 2px solid blueviolet;
     padding: 10px;
    margin: 10px; */
}
#id2{
    border: 2px solid rgb(46, 226, 43);
     padding: 10px;
    margin: 10px; */
}
#id3{
    border: 2px solid rgb(226, 92, 43);
    padding: 10px;
    margin: 10px;
}
#id4{
    border: 2px solid black;
    padding: 10px;
}
 